.social-links a {
  color: rgb(68, 190, 11);
  text-decoration: none;
}
.social-links {
  list-style: none;
}

.menu {
  display: flex;
}
.menu > li {
  border: 1px solid tomato;
}
a[title] {
  color: teal;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: tomato;
}
.post {
  color: rgb(48, 202, 73);
}
.post-link {
  color: inherit;
}
.text {
  white-space: pre-wrap;
}
.text > span {
  text-decoration: overline;
}
.title {
  letter-spacing: 10px;
  /* text-shadow: 2px 2px 4px #000000; */
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

.link {
  text-decoration: none;
}

pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}
pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
}
.box {
  width: 100px;
  height: 100px;
  border: 5px solid tomato;
  border-radius: 50%;
}
.box {
  /* Встановить стилі верхньої рамки */
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: blue;

  /* Встановить стилі правої рамки */
  border-right-width: 5px;
  border-right-style: dotted;
  border-right-color: black;

  /* Встановить стилі нижньої рамки */
  border-bottom-width: 7px;
  border-bottom-style: dashed;
  border-bottom-color: palevioletred;

  /* Встановить стилі лівої рамки */
  border-left-width: 9px;
  border-left-style: dashed;
  border-left-color: green;
}
.pane {
  display: none;
  padding: 8px;
  border: 1px solid blue;
  border-radius: 3px;
}

.is-active {
  display: block;
}

/*  чеккбокссссс */
/* div */
.confirmation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;

  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 12px;

  color: var(--second-text-color);
}

/* input */
.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* .checkbox:focus + .label span {
  border: 2px solid #2a2a2a;
}
.checkbox:checked + .form__check-icon {
  background-origin: border-box;
} */
.checkbox:checked + .form__check-icon {
  background-origin: border-box;
}
.checkbox:checked + .label span {
  background-color: skyblue;
  border: none;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label span {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;
  width: 16px;
  height: 15px;

  border-radius: 2px;
  border: 2px solid #2a2a2a;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* svg */

.form__check-icon {
  fill: rgb(255, 255, 255);
}

.form__conditions {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: skyblue;
  text-decoration: underline;
  margin-left: 2px;

  font-size: 12px;
}
