.social-links a {
  color: rgb(68, 190, 11);
  text-decoration: none;
}
.social-links {
  list-style: none;
}

.menu {
  display: flex;
}
.menu > li {
  border: 1px solid tomato;
}
a[title] {
  color: teal;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: tomato;
}
.post {
  color: rgb(48, 202, 73);
}
.post-link {
  color: inherit;
}
.text {
  white-space: pre-wrap;
}
.text > span {
  text-decoration: overline;
}
.title {
  letter-spacing: 10px;
  /* text-shadow: 2px 2px 4px #000000; */
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}

.link {
  text-decoration: none;
}

pre {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: "Tahoma", serif;
  font-size: 32px;
  color: #f44336;
}
pre::selection {
  color: #ffffff;
  background-color: #3f51b5;
}
.box {
  width: 100px;
  height: 100px;
  border: 5px solid tomato;
  border-radius: 50%;
}
.box {
  /* Встановить стилі верхньої рамки */
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: blue;

  /* Встановить стилі правої рамки */
  border-right-width: 5px;
  border-right-style: dotted;
  border-right-color: black;

  /* Встановить стилі нижньої рамки */
  border-bottom-width: 7px;
  border-bottom-style: dashed;
  border-bottom-color: palevioletred;

  /* Встановить стилі лівої рамки */
  border-left-width: 9px;
  border-left-style: dashed;
  border-left-color: green;
}
.pane {
  display: none;
  padding: 8px;
  border: 1px solid blue;
  border-radius: 3px;
}

.is-active {
  display: block;
}
